[Desktop Entry]
Encoding=UTF-8
Name=tomar
Comment=tomar
Exec=/usr/bin/tomar
Icon=tomar
Terminal=false
X-MultipleArgs=false
Type=Application
X-Osso-Type=application/x-executable
